/* 
    This is a basic CSS file that will be applied to all pages
*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600;800&display=swap');

:root {
    --deepaqua: #003B46;
    --ocean: #07575b;
    --wave: #66a5ad;
    --seafoam: #c4dfe6;
}

body {
    margin: 1%;
    background-image: url('../../resources/logo.png');
    background-blend-mode: soft-light;
    background-size: 15%;
    background-color: var(--seafoam);
}


@media all and (max-width: 768px) {
    #header {
        font-size: 3vh;
    }
}