/* Specify colors for the file */
:root {
    --deepaqua: #005f60;
    --ocean: #008083;
    --wave: #249ea0;
    --seafoam: #c4dfe6;
    --orange: #fd5901;
    --lightOrange: #f78104;
    --yellow: #FAAB36;
}

/* All styles for the top header of the page */
#header {
    display: flex;
    line-height: 0;
    color: var(--seafoam);
    font-size: 1.5vh;
    padding: 1% 1%;
    border: black .2vw solid;
    margin-bottom: 2%;
    backdrop-filter: opacity(30%);
    background-image: linear-gradient(45deg, var(--deepaqua), var(--wave));
    font-family: 'EB Garamond';
    cursor: pointer;
    justify-content: center;
}

#pageTitle {
    text-align: center;
    font-size: 7vh;
    border: .4vh solid black;
    background-image: linear-gradient(45deg, var(--orange), var(--wave));
    margin-top: 0;
    margin-bottom: 2%;
    padding: 1.5% 0;
    max-width: 1400px;
}

/* rules for the content boxes */
.contentBox {
    max-width: 900px;
    font-size: 2vh;
    border: .4vh solid black;
    background-image: linear-gradient(100deg, var(--wave), var(--seafoam));
    margin: 0 20% 1% 2%;
    padding: 0 2% 0 2%;
}

.contentBox > h2 {
    border-bottom: .5% black solid;
}

.contentBox > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contentBox > h3 {
    border-top: .1vh solid black;
}


.clickable {
    cursor: pointer;
}

.clickable:hover {
    padding: 0 4% 0 2%;
    margin-left: 3%;
}

.contentBox:nth-of-type(even) {
    background-image: linear-gradient(to bottom right, var(--orange), var(--seafoam));
}

@media all and (max-width: 768px) {
    .contentBox {
        margin: 0 2% 1% 2%;
    }
}